In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv("Bank Marketing.csv")

# Display the first 5 rows
print(df.head())

      banking marketing Unnamed: 1                    Unnamed: 2 Unnamed: 3  \
0  customer id and age.        NaN  Customer salary and balance.        NaN
1            customerid        age                        salary    balance
2                     1         58                        100000       2143
3                     2         44                         60000         29
4                     3         33                        120000          2

                                          Unnamed: 4              Unnamed: 5  \
0  Customer marital status and job with education...                     NaN
1                                            marital                  jobedu
2                                            married     management,tertiary
3                                             single    technician,secondary
4                                            married  entrepreneur,secondary

                                   Unnamed: 6 Unnamed: 7  \
0  particular customer before targeted or not        NaN
1                                    targeted    default
2                                         yes         no
3                                         yes         no
4                                         yes         no

                           Unnamed: 8 Unnamed: 9   Unnamed: 10 Unnamed: 11  \
0  Loan types: loans or housing loans        NaN  Contact type         NaN
1                             housing       loan       contact         day
2                                 yes         no       unknown           5
3                                 yes         no       unknown           5
4                                 yes        yes       unknown           5

        Unnamed: 12       Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
0  month of contact  duration of call         NaN         NaN         NaN
1             month          duration    campaign       pdays    previous
2         may, 2017           261 sec           1          -1           0
3         may, 2017           151 sec           1          -1           0
4         may, 2017            76 sec           1          -1           0

                   Unnamed: 17                              Unnamed: 18
0  outcome of previous contact  response of customer after call happned
1                     poutcome                                 response
2                      unknown                                       no
3                      unknown                                       no
4                      unknown                                       no

<ipython-input-2-2985e2af9aff>:4: DtypeWarning: Columns (0,1,2,3,11,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Bank Marketing.csv")

In [ ]:
# Get dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45213 entries, 0 to 45212
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   banking marketing  45213 non-null  object
 1   Unnamed: 1         45192 non-null  object
 2   Unnamed: 2         45213 non-null  object
 3   Unnamed: 3         45212 non-null  object
 4   Unnamed: 4         45213 non-null  object
 5   Unnamed: 5         45212 non-null  object
 6   Unnamed: 6         45213 non-null  object
 7   Unnamed: 7         45212 non-null  object
 8   Unnamed: 8         45213 non-null  object
 9   Unnamed: 9         45212 non-null  object
 10  Unnamed: 10        45213 non-null  object
 11  Unnamed: 11        45212 non-null  object
 12  Unnamed: 12        45163 non-null  object
 13  Unnamed: 13        45213 non-null  object
 14  Unnamed: 14        45212 non-null  object
 15  Unnamed: 15        45212 non-null  object
 16  Unnamed: 16        45212 non-null  object
 17  Unnamed: 17        45213 non-null  object
 18  Unnamed: 18        45183 non-null  object
dtypes: object(19)
memory usage: 6.6+ MB

In [ ]:
# Get descriptive statistics for numerical columns
df.describe()

,banking marketing,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
count,45213,45192,45213,45212,45213,45212,45213,45212,45213,45212,45213,45212,45163,45213,45212,45212,45212,45213,45183
unique,45213,145,24,10335,5,49,4,3,4,3,5,63,14,2648,67,837,72,6,4
top,45211,32,20000,0,married,"management,tertiary",yes,no,yes,no,cellular,20,"may, 2017",1.5 min,1,-1,0,unknown,no
freq,1,1509,7290,2767,27214,7801,37091,44396,25130,37967,29285,2030,13747,138,11502,30277,30277,36959,39894

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Histogram of 'age'
plt.figure(figsize=(8, 6))
sns.histplot(df['age'], kde=True)
plt.title('Distribution of Age')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

# Countplot of 'marital' status
plt.figure(figsize=(8, 6))
sns.countplot(x='marital', data=df)
plt.title('Count of Marital Status')
plt.xlabel('Marital Status')
plt.ylabel('Count')
plt.show()

KeyError: 'age'

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd # Ensure pandas is imported

# Load the dataset
df = pd.read_csv("Bank Marketing.csv")

# Display the first 5 rows
print(df.head())

# Get dataset info
df.info()

# Get descriptive statistics for numerical columns
df.describe()

# Print the column names to verify the correct spelling
print(df.columns)

# Histogram of 'age' - Assuming the column name is 'age' based on the original code
# If the column name is different, replace 'age' below with the correct name found in df.columns
plt.figure(figsize=(8, 6))
sns.histplot(df['age'], kde=True)
plt.title('Distribution of Age')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

# Countplot of 'marital' status
plt.figure(figsize=(8, 6))
sns.countplot(x='marital', data=df)
plt.title('Count of Marital Status')
plt.xlabel('Marital Status')
plt.ylabel('Count')
plt.show()

<ipython-input-7-0a48a44165f1>:6: DtypeWarning: Columns (0,1,2,3,11,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Bank Marketing.csv")

      banking marketing Unnamed: 1                    Unnamed: 2 Unnamed: 3  \
0  customer id and age.        NaN  Customer salary and balance.        NaN
1            customerid        age                        salary    balance
2                     1         58                        100000       2143
3                     2         44                         60000         29
4                     3         33                        120000          2

                                          Unnamed: 4              Unnamed: 5  \
0  Customer marital status and job with education...                     NaN
1                                            marital                  jobedu
2                                            married     management,tertiary
3                                             single    technician,secondary
4                                            married  entrepreneur,secondary

                                   Unnamed: 6 Unnamed: 7  \
0  particular customer before targeted or not        NaN
1                                    targeted    default
2                                         yes         no
3                                         yes         no
4                                         yes         no

                           Unnamed: 8 Unnamed: 9   Unnamed: 10 Unnamed: 11  \
0  Loan types: loans or housing loans        NaN  Contact type         NaN
1                             housing       loan       contact         day
2                                 yes         no       unknown           5
3                                 yes         no       unknown           5
4                                 yes        yes       unknown           5

        Unnamed: 12       Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
0  month of contact  duration of call         NaN         NaN         NaN
1             month          duration    campaign       pdays    previous
2         may, 2017           261 sec           1          -1           0
3         may, 2017           151 sec           1          -1           0
4         may, 2017            76 sec           1          -1           0

                   Unnamed: 17                              Unnamed: 18
0  outcome of previous contact  response of customer after call happned
1                     poutcome                                 response
2                      unknown                                       no
3                      unknown                                       no
4                      unknown                                       no
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45213 entries, 0 to 45212
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   banking marketing  45213 non-null  object
 1   Unnamed: 1         45192 non-null  object
 2   Unnamed: 2         45213 non-null  object
 3   Unnamed: 3         45212 non-null  object
 4   Unnamed: 4         45213 non-null  object
 5   Unnamed: 5         45212 non-null  object
 6   Unnamed: 6         45213 non-null  object
 7   Unnamed: 7         45212 non-null  object
 8   Unnamed: 8         45213 non-null  object
 9   Unnamed: 9         45212 non-null  object
 10  Unnamed: 10        45213 non-null  object
 11  Unnamed: 11        45212 non-null  object
 12  Unnamed: 12        45163 non-null  object
 13  Unnamed: 13        45213 non-null  object
 14  Unnamed: 14        45212 non-null  object
 15  Unnamed: 15        45212 non-null  object
 16  Unnamed: 16        45212 non-null  object
 17  Unnamed: 17        45213 non-null  object
 18  Unnamed: 18        45183 non-null  object
dtypes: object(19)
memory usage: 6.6+ MB
Index(['banking marketing', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')

KeyError: 'age'

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd # Ensure pandas is imported

# Load the dataset
df = pd.read_csv("Bank Marketing.csv")

# Display the first 5 rows
print(df.head())

# Get dataset info
df.info()

# Get descriptive statistics for numerical columns
df.describe()

# Print the column names to verify the correct spelling
print(df.columns) # Print column names BEFORE attempting to access 'duration'

# Histogram of 'duration' - Assuming the column name is 'duration'
# If the column name is different, replace 'duration' below with the correct name found in df.columns
plt.figure(figsize=(8, 6))
# Replace 'duration' with the correct column name if it's different
sns.histplot(df['duration'], kde=True)
plt.title('Distribution of Duration')
plt.xlabel('Duration')
plt.ylabel('Frequency')
plt.show()

# Countplot of 'marital' status
plt.figure(figsize=(8, 6))
# Replace 'marital' with the correct column name if it's different
sns.countplot(x='marital', data=df)
plt.title('Count of Marital Status')
plt.xlabel('Marital Status')
plt.ylabel('Count')
plt.show()

<ipython-input-8-6f1b6e41d5b3>:6: DtypeWarning: Columns (0,1,2,3,11,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Bank Marketing.csv")

      banking marketing Unnamed: 1                    Unnamed: 2 Unnamed: 3  \
0  customer id and age.        NaN  Customer salary and balance.        NaN
1            customerid        age                        salary    balance
2                     1         58                        100000       2143
3                     2         44                         60000         29
4                     3         33                        120000          2

                                          Unnamed: 4              Unnamed: 5  \
0  Customer marital status and job with education...                     NaN
1                                            marital                  jobedu
2                                            married     management,tertiary
3                                             single    technician,secondary
4                                            married  entrepreneur,secondary

                                   Unnamed: 6 Unnamed: 7  \
0  particular customer before targeted or not        NaN
1                                    targeted    default
2                                         yes         no
3                                         yes         no
4                                         yes         no

                           Unnamed: 8 Unnamed: 9   Unnamed: 10 Unnamed: 11  \
0  Loan types: loans or housing loans        NaN  Contact type         NaN
1                             housing       loan       contact         day
2                                 yes         no       unknown           5
3                                 yes         no       unknown           5
4                                 yes        yes       unknown           5

        Unnamed: 12       Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
0  month of contact  duration of call         NaN         NaN         NaN
1             month          duration    campaign       pdays    previous
2         may, 2017           261 sec           1          -1           0
3         may, 2017           151 sec           1          -1           0
4         may, 2017            76 sec           1          -1           0

                   Unnamed: 17                              Unnamed: 18
0  outcome of previous contact  response of customer after call happned
1                     poutcome                                 response
2                      unknown                                       no
3                      unknown                                       no
4                      unknown                                       no
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45213 entries, 0 to 45212
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   banking marketing  45213 non-null  object
 1   Unnamed: 1         45192 non-null  object
 2   Unnamed: 2         45213 non-null  object
 3   Unnamed: 3         45212 non-null  object
 4   Unnamed: 4         45213 non-null  object
 5   Unnamed: 5         45212 non-null  object
 6   Unnamed: 6         45213 non-null  object
 7   Unnamed: 7         45212 non-null  object
 8   Unnamed: 8         45213 non-null  object
 9   Unnamed: 9         45212 non-null  object
 10  Unnamed: 10        45213 non-null  object
 11  Unnamed: 11        45212 non-null  object
 12  Unnamed: 12        45163 non-null  object
 13  Unnamed: 13        45213 non-null  object
 14  Unnamed: 14        45212 non-null  object
 15  Unnamed: 15        45212 non-null  object
 16  Unnamed: 16        45212 non-null  object
 17  Unnamed: 17        45213 non-null  object
 18  Unnamed: 18        45183 non-null  object
dtypes: object(19)
memory usage: 6.6+ MB
Index(['banking marketing', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')

KeyError: 'duration'